:root {
    --gradiente: linear-gradient(to right, rgb(0, 0, 70), rgb(0, 0, 160));
    --gradiente-secundario: linear-gradient(to right, rgb(198, 0, 198), #cda137);
    --gradiente-terciario: linear-gradient(to right top,rgb(0, 0, 160) 5%, rgb(198, 0, 198));
}

html {
    color: #fff;
    font-size: 100%;
}

body{
    overflow-x: hidden;
    font-family: 'Varela', sans-serif;
}

.bg-animado {
    background: linear-gradient(#112, #000);
    position: relative;
    overflow-x: hidden;
}

.bg-animado .bolhas span {
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 6px;
    

    animation: animar calc(120s/var(--i)) linear infinite;
}

.bg-animado .bolhas span:nth-of-type(even) {
    animation: animar-2 calc(120s/var(--i)) linear infinite;
}

.bg-animado::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url(../img/Gusion\ _\ Night\ Owl.jpg);
    background-size: cover;
    opacity: .1;
}


.cabecalho {
    position: relative;
    z-index: 100;
    padding: .4rem 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(245, 245, 245, 0.08);
    filter: blur(3px);
}

.cabecalho .content {
    position: relative;
   display: flex;
   align-items: center;
}



.cabecalho img{
    position: relative;
    height: 4em;
    width: 4em;
    border-radius: 50%;

    border: solid 1.4px #111;
    margin: 0 1rem;
}

.cabecalho .title-responsive{
    display: none;
}

.cabecalho .content a {
    text-decoration: none;
    color: #bbb;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
    padding: 1rem;
}

.cabecalho .content nav a.first-item {
    padding-left: 1rem;
    border-left: 1px solid #bbb;
}

.cabecalho .content a.first-item:hover {
   text-decoration: underline;
   border-bottom: none;
}

.cabecalho .content a:hover {
    color: #fff;
    letter-spacing: 1px;
    border-bottom: solid 2px darkblue;
}


.menu {
    display: none;
    position: relative;
    font-size: 4em;
}






















.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 32
}

.material-symbols-outlined {
    vertical-align: center;
    margin: 0 .4em 0 .1em;
}





.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 5rem;

    position: relative;
    box-sizing: border-box;
}

.bg-animado .bolhas {
    position: absolute;
    bottom: 0;
    display: flex;
}



@keyframes animar {
    0% {
        transform: translateY(0) scale(0);
    }

    93% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) scale(1);
        background-color: rgb(205, 202, 255);
        opacity: 0;
    }
}

@keyframes animar-2 {
    0% {
        transform: translateY(0) scale(0);
    }

    93% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) scale(1);
        background-color: rgb(255, 217, 217);
        opacity: 0;
    }
}


.banner .content {
    padding: 6rem 6rem 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.banner .content .recepcao {
    padding: .3em;
    background: var(--gradiente-secundario);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;

    display: flex;
    align-items: center;
}



.banner .content .recepcao::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: rgba(240, 248, 255, 0.02);
    border-radius: 15px;
}




.banner .content h2 {
    font-size: 3em;
    font-weight: 900;
    margin: .5em 0;
    line-height: 1.2em;
}

.banner .content b {
    background: var(--gradiente-terciario);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

.mini-frase {
    font-size: .75em;
    color: #ddd;
    opacity: 0.3;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.button {
    font-size: 1em;
    border: 2px #222 solid;
    padding: .7em 2em;
    border-radius: 14px;
    margin: 1.5em 0;
    letter-spacing: .1em;

    text-decoration: none;
    color: #333;

    
}

.btn-principal {
    border: none;
    background: var(--gradiente);
    box-shadow: 0px 0 60px rgb(6, 6, 64);
    color: white;
    font-weight: 700;
}



.lista-dados {
    display: flex;
    padding: 4rem 0;
    border-top: 1px solid #333;
}

.lista-dados .item-lista {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    padding: 0 1em; 
}

.lista-dados .item-lista:nth-of-type(even) {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.lista-dados .item-lista h3 {
    font-weight: 800;
    font-size: 1.1em;
    color: #fbf2f2;
}

.lista-dados .item-lista p {
    font-weight: 800;
    font-size: .25em;
    color: #555;
}



.banner .content-game{
    position: relative;
}

.banner .content-game img {
    height: 75vh;
}
.banner .content-game .description {
    padding: 0 1em;
    display: flex;
    align-items: center;
    background: rgb(38, 38, 185);
    border-bottom-left-radius: 15px;
}

.banner .content-game .description img {
    width: 2.5em;
    height: 2.5em;
}


.banner .content-game .description p {
    color: rgb(255, 226, 226);
    padding: 1em;
    font-weight: 700;
    letter-spacing: .15rem;
    text-transform: uppercase;
}



@media screen and (max-width: 991px) {
    body {
        font-size: 70%;
        box-sizing: border-box;
        background-color: #222;
        overflow-x: hidden;
    }

    .bg-animado .bolhas span{
        margin: 0 4.5px;
    }

    .cabecalho {
        padding: .5rem 0rem;
    }

    .cabecalho .title-responsive{
        padding-left: 1rem;
        border-left: 1px solid white;
        font-weight: 800;
        font-size: 1.8em;
        letter-spacing: .05em;
        display: block;
    }

    .cabecalho > h2 {
        display: none;
    }

    .cabecalho .content nav {
        display: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 0;

        position: absolute;
        top: 100%;
        right: 0;
        width: 30vw;
        height: 25vh;
        background-color: red;
        border-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .cabecalho .content nav.active {
        display: flex;
    }

    .cabecalho .content nav a {
        padding: .5rem 1rem;
    }

    .cabecalho .content nav a.first-item {
        padding-left: 1rem;
        border-left: none;
    }

    .menu {
        display: block;
    }


    .banner{
        width: 100vw;
        height: auto;
        flex-direction: column-reverse;
        padding: 1.5rem 1rem 2rem 1rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .banner .content{
        padding: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .lista-dados {
        padding: 3rem 0;
    }

    .banner .content-game{
        max-width: 100vw;
        /* box-shadow: 0 0 50px rgb(0, 0, 0); */
    }

    .banner .content-game .description{
        justify-content: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .banner .content-game img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 90vw;
        height: auto;
    }

    .banner::before{
        display: none;
        background-size: cover;
        background-position: center top;
    }
}
