:root {
    --gradiente: linear-gradient(to right, rgb(0, 0, 70), rgb(0, 0, 160));
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 32
}

.material-symbols-outlined {
    vertical-align: center;
    margin: 0 .4em 0 .1em;
}



html {
    overflow-x: hidden;
    font-family: 'Varela', sans-serif;
    color: #fff;
}

body{
    font-size: 100%;
}

.banner {
    height: 100vh;
    width: 100%;
    
   
    background: linear-gradient(#112, #000);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
    box-sizing: border-box;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url(../img/Gusion\ _\ Night\ Owl.jpg);
    background-size: cover;
    opacity: .1;
}

.banner .bolhas {
    position: absolute;
    bottom: 0;
    display: flex;
}

.banner .bolhas span {
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 6px;

    animation: animar calc(120s/var(--i)) linear infinite;
}

.banner .bolhas span:nth-of-type(even) {
    animation: animar-2 calc(120s/var(--i)) linear infinite;
}

@keyframes animar {
    0% {
        transform: translateY(0) scale(0);
    }
    100% {
        transform: translateY(-100vh) scale(1);
        background-color: rgb(205, 202, 255);
    }
}

@keyframes animar-2 {
    0% {
        transform: translateY(0) scale(0);
    }
    100% {
        transform: translateY(-100vh) scale(1);
        background-color: rgb(255, 243, 175);
    }
}


.banner .content {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* min-width: 40%; */
    position: relative;
}

.banner .content .recepcao {
    padding: .3em;
    background: var(--gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;

    display: flex;
    align-items: center;
}



.banner .content .recepcao::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: rgba(240, 248, 255, 0.02);
    border-radius: 15px;
}




.banner .content h2 {
    font-size: 3em;
    font-weight: 900;
    margin: .5em 0;
    line-height: 1.2em;
}

.banner .content  b {
    background: var(--gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

.mini-frase {
    font-size: .7em;
    color: #444;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.button {
    font-size: 1em;
    border: 2px #222 solid;
    padding: .7em 2em;
    border-radius: 14px;
    margin: 1.5em 0;
    letter-spacing: .1em;

    text-decoration: none;
    color: #333;

    
}

.btn-principal {
    border: none;
    background: var(--gradiente);
    box-shadow: 0px 0 60px rgb(6, 6, 64);
    color: white;
    font-weight: 700;
}

.lista-dados {
    display: flex;
    padding: 4rem 0;
    border-top: 1px solid #111;
}

.lista-dados .item-lista {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    padding: 0 1em; 
}

.lista-dados .item-lista:nth-of-type(even) {
    border-left: 1px solid #111;
    border-right: 1px solid #111;
}

.lista-dados .item-lista h3 {
    font-weight: 800;
    font-size: 1.1em;
    color: #fbf2f2;
}

.lista-dados .item-lista p {
    font-weight: 800;
    font-size: .25em;
    color: #555;
}



.banner .content-game{
    position: relative;
}

.banner .content-game img {
    height: 75vh;
}
.banner .content-game .description {
    padding: 0 1em;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 15px;
}

.banner .content-game .description img {
    width: 2em;
    height: 2em;
}


.banner .content-game .description p {
    color: black;
    padding: 1em;
    font-weight: 600;
}



@media screen and (max-width: 998px) {
    body {
        font-size: 70%;
        box-sizing: border-box;
        background-color: #222;
        overflow-x: hidden;
    }

    .banner{
        width: 100vw;
        flex-direction: column-reverse;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .banner .content{
        padding: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .banner .content-game{
        max-width: 100vw;
    }

    .banner .content-game .description{
        justify-content: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .banner .content-game img{
        width: 90vw;
        height: auto;
    }

    .banner::before{
        /* display: none; */
        background-size: cover;
        background-position: center top;
    }
}
