:root {
    --gradiente: linear-gradient(to right, rgb(0, 0, 82), rgb(0, 0, 160));
    --gradiente-secundario: linear-gradient(to right, rgb(198, 0, 198), #cda137);
    --gradiente-terciario: linear-gradient(to right top,rgb(0, 0, 160) 5%, rgb(198, 0, 198));
}
* {
    box-sizing: border-box;
}

html {
    color: #fff;
    font-size: 100%;
}

body{
    overflow-x: hidden;
    font-family: 'Varela', sans-serif;
}

.bg-animado {
    background: linear-gradient(#112, #000);
    position: relative;
    overflow-x: hidden;
}

.bg-animado .bolhas span {
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 6px;
    

    animation: animar calc(120s/var(--i)) linear infinite;
}

.bg-animado .bolhas span:nth-of-type(even) {
    animation: animar-2 calc(120s/var(--i)) linear infinite;
}

.bg-animado::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url(../img/Gusion\ _\ Night\ Owl.jpg);
    background-size: cover;
    opacity: .1;
}


.cabecalho {
    position: relative;
    z-index: 100;
    padding: .4rem 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(245, 245, 245, 0.08);
    filter: blur(3px);
}

.cabecalho .content {
    position: relative;
   display: flex;
   align-items: center;
}



.cabecalho img{
    position: relative;
    height: 4em;
    width: 4em;
    border-radius: 50%;

    border: solid 1.4px #111;
    margin: 0 1rem;
}

.cabecalho .title-responsive{
    display: none;
}

.cabecalho .content nav a {
    text-decoration: none;
    color: #bbb;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
    padding: 1rem;
}

.cabecalho .content nav a.first-item {
    padding-left: 1rem;
    border-left: 1px solid #bbb;
}

.cabecalho .content nav a.first-item:hover {
   text-decoration: underline;
   border-bottom: none;
}

.cabecalho .content nav a:hover {
    color: #fff;
    letter-spacing: 1px;
    border-bottom: solid 2px darkblue;
}


.menu {
    display: none;
    position: relative;
    font-size: 4em;
}






















.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 32
}

.material-symbols-outlined {
    vertical-align: center;
    margin: 0 .4em 0 .1em;
}





.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 5rem;

    position: relative;
    box-sizing: border-box;
}

.bg-animado .bolhas {
    position: absolute;
    bottom: 0;
    display: flex;
}



@keyframes animar {
    0% {
        transform: translateY(0) scale(0);
    }

    93% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) scale(1);
        background-color: rgb(205, 202, 255);
        opacity: 0;
    }
}

@keyframes animar-2 {
    0% {
        transform: translateY(0) scale(0);
    }

    93% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) scale(1);
        background-color: rgb(255, 217, 217);
        opacity: 0;
    }
}


.banner .content {
    padding: 6rem 6rem 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.banner .content .recepcao {
    padding: .3em;
    background: var(--gradiente-secundario);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;

    display: flex;
    align-items: center;
}



.banner .content .recepcao::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: rgba(240, 248, 255, 0.02);
    border-radius: 15px;
}




.banner .content h2 {
    font-size: 3em;
    font-weight: 900;
    margin: .5em 0;
    line-height: 1.2em;
}

.banner .content b {
    background: var(--gradiente-terciario);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

.mini-frase {
    font-size: .75em;
    color: #ddd;
    opacity: 0.3;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.button {
    font-size: 1em;
    border: 2px #222 solid;
    padding: .7em 2em;
    border-radius: 14px;
    margin: 1.5em 0;
    letter-spacing: .1em;

    text-decoration: none;
    color: #333;

    
}

.btn-principal {
    border: none;
    background: var(--gradiente);
    box-shadow: 0px 0 60px rgb(6, 6, 64);
    color: white;
    font-weight: 700;
}



.lista-dados {
    display: flex;
    padding: 4rem 0;
    border-top: 1px solid #333;
}

.lista-dados .item-lista {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    padding: 0 1em; 
}

.lista-dados .item-lista:nth-of-type(even) {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.lista-dados .item-lista h3 {
    font-weight: 800;
    font-size: 1.1em;
    color: #fbf2f2;
}

.lista-dados .item-lista p {
    font-weight: 800;
    font-size: .25em;
    color: #555;
}



.banner .content-game{
    position: relative;
}

.banner .content-game img {
    height: 75vh;
}
.banner .content-game .description {
    padding: 0 1em;
    display: flex;
    align-items: center;
    background: rgb(38, 38, 185);
    border-bottom-left-radius: 15px;
}

.banner .content-game .description img {
    width: 2.5em;
    height: 2.5em;
}


.banner .content-game .description p {
    color: rgb(255, 226, 226);
    padding: 1em;
    font-weight: 700;
    letter-spacing: .15rem;
    text-transform: uppercase;
}










/* container plataformas */

.container {
    background-color: black;
    padding: 1rem 3rem;
}

.emblemas{
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, .92), rgba(0, 0, 0, .92)), url(../img/Kagura\ Mobile\ Legends.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-2 {
    height:100vh;
}

.titulo-secundario {
    font-size: 1.5em;
    margin: .5rem 0;
    font-weight: 700;
}

.titulo-secundario b {
    background: var(--gradiente-terciario);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    font-size: 1.1em;
}

.container .lista-classes {
    margin: 3.5rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    
}

.container .lista-classes li {
    padding: 0 2rem 1rem 2rem;
    background: linear-gradient(to right top,#11111190,rgba(0, 0, 5, 0.9));

    border-radius: 15px;
    box-shadow: 0 0 20px darkblue,
    inset 0 0 10px blue;
}

/* .container .lista-classes li:nth-of-type(even) {
    box-shadow: 0 0 30px rgb(170, 0, 0),
    inset 0 0 10px red;
} */

.container .lista-classes li img {
    height: 2.5rem;
    transform: translateY(-50%);
}

.container .lista-classes li p {
    letter-spacing: 2px;
    font-weight: bold;
    color: #ddd;
    
}




/* regras */


.regras {
    min-height: 40vh;
    display: grid;
    grid-template-columns: .75fr 1.25fr 1.5fr;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    position: relative;

    background:
        radial-gradient(red, black 70%);
}

.regras .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.regras .content.box-regras {
    text-align: left;
    align-items: flex-start;
}

.regras .box-regras .title-regra {
    filter: blur(1.25px);
    color: #aaa;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    transition: .2s;
}

.regras .content .title-regra.active {
    filter: none;
    color: #fff;
    font-size: 1.4em;
    font-weight: 700;

    padding-bottom: .3em;
    border-bottom: dashed 2px rgb(0, 183, 0);
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}


.img-regra {
    max-width: 100%;
    display: none;
}

.img-regra.active {
    display: block;
}


.regras .content .lista-regras {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: flex-start;

    display: none;
}

.regras .content .lista-regras.active {
    animation: opacity .4s linear;
    display: flex;
}

.descricao-regra {
    color: rgb(179, 177, 255);
    letter-spacing: .1px;
    font-size: 1em;
    padding: .5em 0;
    line-height: 0.9rem;
    font-weight: lighter;
    text-align: left;
}

.descricao-regra.centralizar {
    text-align: center;
}

.descricao-regra span{
    color: gold;
    font-size: .9em;
}










/* extensoes */

.container.extensoes {
    background: radial-gradient(green, black 50%);

    min-height: 50vh; /* improvisório */
}

.extensoes .box-extensoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
    min-height: 50%;
    transition: .7s;
}

.extensoes .box-extensoes.active-box-1 {
    grid-template-columns: 3fr 1fr 1fr;
}

.extensoes .box-extensoes.active-box-2 {
    grid-template-columns: 1fr 3fr 1fr;
}

.extensoes .box-extensoes.active-box-3 {
    grid-template-columns: 1fr 1fr 3fr;
}

.extensoes .box-extensoes .x{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50%;
}

.extensoes .box-extensoes .x.disabled{
    filter: blur(1px);
    position: relative;
}

.extensoes .box-extensoes .x .content{
    display: block;
    padding: .3rem;
    text-align: center;
}

.extensoes .box-extensoes .x.disabled .content{
    opacity: 0.5;
}

.extensoes .box-extensoes .x.disabled::after{
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    filter: blur(1px);
    background:
        linear-gradient
        (75deg, rgba(0, 0, 0, .75) 30%,
        rgba(30, 30, 30, 0.75),
        rgba(0, 0, 0, .75) 70%);
}

.extensoes .box-extensoes .x .content p {
    display: block;
    text-align: left;
    margin: .5em 0;

}

.extensoes .box-extensoes .x.disabled .content p {
    display: none;
    margin: .5em 0;

}

.extensoes .box-extensoes .x img{
    max-width: 100%;
}















/* swipper */

.swipper {
    padding: 0;
    background: rgba(0, 255, 170, 0.084);
    overflow-x: hidden;
}

.swipper .gradient {
    width: 100%;
    height: 10vh;
    background: linear-gradient(cyan, transparent);
}

.swipper .slides {
    height: 100%;
    width: 400%;
    display: flex;
    flex-direction: row;
    position: relative;
    
}

.slides::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    
    pointer-events: none;
}

.swipper .slides input {
    display: none;
}

.swipper .slides .slide {
    min-height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;   

    transition: 1.5s;
    animation: sombreamento 1.6s linear;
}

.swipper .slides .slide span {
    width: 30vw;
    height: 100%;
}


.swipper .slides .first {
    background:
        url(../img/lesley-bakcground.jpg);
    background-position: right top;
    background-size: cover;
}

.swipper .slides .second {
    background:
        url(../img/Kagura-background-cut.jpg);
    background-position: right top;
    background-size: cover;
}

.swipper .slides .third {
    background:
        url(../img/Guinevere-cut.jpg);
    background-position: right top;
    background-size: cover;
}

.swipper .slides .fourth {
    background:
        url(../img/lesley-bakcground.jpg);
    background-position: right top;
    background-size: cover;
}




.swipper .slides .slide .content {
    opacity: 0;
    min-height: 80%;
    max-width: 50%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@keyframes sombreamento {
    0%, 10% {
        opacity: 0;
    } 
    100% {
        /* background: linear-gradient(to right,
        black,
        rgba(0, 0, 0, 0.95),
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.6) 50%,
        transparent 70%); */
        opacity: 1;
    }
}

@keyframes opacity {
    0%,80% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

#radio1:checked ~ .first .content,
#radio2:checked ~ .second .content,
#radio3:checked ~ .third .content,
#radio4:checked ~ .fourth .content {
    
    animation: opacity 1.6s linear;
    opacity: 1;
}

#radio1:checked ~ .first::after,
#radio2:checked ~ .second::after,
#radio3:checked ~ .third::after,
#radio4:checked ~ .fourth::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(to right,
        black,
        rgba(0, 0, 0, 0.95),
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.6) 50%,
        transparent 70%);
    
    pointer-events: none;
    animation: sombreamento 1.6s linear;
    opacity: 1;
}


.swipper .slides .title-perfil {
    text-transform: uppercase;
    margin-left: 1rem;
    padding: .1em;
    font-size: clamp(1em, 2.5em, 40vw);
    font-weight: 700;
}




.swipper .slides .info-perfil {
    margin-left: 1rem;
    padding: .5em;
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
}



.slides .navigation {
    display: flex;
    position: absolute;
    transform: translateX(-50%);
    left: 50vw;
    bottom: 2em;
    z-index: 100;
}

.slides .navigation .manual-btn{
    border-radius: 50%;
    padding: 5px;
    border: 3px solid red;
    transition: .5;
}

/* .manual-btn:hover, */
#radio1:checked ~ .navigation .manual-btn-1,
#radio2:checked ~ .navigation .manual-btn-2,
#radio3:checked ~ .navigation .manual-btn-3,
#radio4:checked ~ .navigation .manual-btn-4  {
    background: red;
    box-shadow:
    0 0 20px red,
    0 0 10px red,
    0 0 5px red;
}

.slides .navigation .manual-btn:not(:last-child){
    margin-right: 5vw;
}









#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -100vw;
}

#radio3:checked ~ .first{
    margin-left: -200vw;
}

#radio4:checked ~ .first{
    margin-left: -300vw;
}

@keyframes opacity {
    0%{
        opacity: 0;
        transform: translate3d(2rem, 0, 0);
    }
}

.model {
    background-color: #000000c6;
    align-items: center;
    justify-content: center;

    padding: 5vh 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100000;

    display: none;
}

.model.active {
    display: flex;
}

.model-slide{
    background-color: rgb(237, 19, 19);
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 75vw;

    border-radius: 10px;
    border: green solid 5px;
    overflow: hidden;
}

.model-slide .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1rem;
}
 
.model-slide .content h2{
    color: goldenrod;
    font-size: 1.5em;
    font-weight: 700;
}

.model-slide p{
    color: black;
    font-size: clamp(.5em, 1em, 1.1em);
}

.model-slide .box-status {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    text-align: center;

    padding: .5rem;
    height: 100%;
    background-color: rgb(42, 201, 201);
}


.model-slide .box-status img{
    height: 4.5em;
    width: 4.5em;
    border: 3.5px white solid;
    border-radius: 50%;
    
}


@media screen and (max-width: 991px) {
    body {
        font-size: 70%;
        box-sizing: border-box;
        background-color: #222;
        overflow-x: hidden;
    }

    .bg-animado .bolhas span{
        margin: 0 4.5px;
    }

    .cabecalho {
        padding: .5rem 0rem;
    }

    .cabecalho .title-responsive{
        padding-left: 1rem;
        border-left: 1px solid white;
        font-weight: 800;
        font-size: 1.8em;
        letter-spacing: .05em;
        display: block;
    }

    .cabecalho > h2 {
        display: none;
    }

    .cabecalho .content nav {
        display: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 0;

        position: absolute;
        top: 100%;
        right: 0;
        width: 30vw;
        height: 25vh;
        background-color: red;
        border-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .cabecalho .content nav.active {
        display: flex;
    }

    .cabecalho .content nav a {
        padding: .5rem 1rem;
    }

    .cabecalho .content nav a.first-item {
        padding-left: 1rem;
        border-left: none;
    }

    .menu {
        display: block;
    }


    .banner{
        width: 100vw;
        height: auto;
        flex-direction: column-reverse;
        padding: 1.5rem 1rem 1rem 1rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .banner .content{
        padding: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .lista-dados {
        padding: 3rem 0;
    }

    .banner .content-game{
        max-width: 100vw;
    }

    .banner .content-game .description{
        justify-content: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .banner .content-game img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 90vw;
        height: auto;
    }

    .banner::before{
        display: none;
        background-size: cover;
        background-position: center top;
    }






    .container {
        padding: 1rem;
    }

    .emblemas {
        background-position: 20%;
    }

    .container .mini-frase{
       font-size: .7rem;
    }

    .titulo-secundario{
        font-size: 1.4rem;
        display: none;
    }

    .container .lista-classes {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: .5rem;
    }

    .container .lista-classes li {
        padding: .5rem;
        border-radius: 50%;
    }

    .container .lista-classes li img {
        height: 2rem;
        transform: translateY(0);
        
    }

    .container .lista-classes li p {
        letter-spacing: 1px;
        font-size: .5;
        display: none;
    }









    .swipper .slides .slide {
        min-height: 45vh;
    }
    
}
