.plataformas  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plataformas .container {
    height: 50vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3%;
    overflow: hidden;
}

.plataformas .container .box {
    background-color: blue;
    
    height: 100%;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    position: absolute;
    left: 0%;
}

.plataformas .container .box-2 {
    background-image: url(../img/warzone-2.jpg);
    background-position: center;
    background-color: red;
    height: 100%;
    width: 100%;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    position: absolute;
    left: 0%;
}

.plataformas .container .box-3 {
    background-color: purple;
    height: 100%;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    position: absolute;
    left: 50%;
}