.plataformas  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plataformas .container {
    /* height: 40vh; */
    height: 80vh;
    width: 85vw;
    /* width: 98vw; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.mainbox,
.mainbox2,
.mainbox3 {
    height: 100%;
    width: 100%;
}


.plataformas .container .box,
.plataformas .container .box-2,
.plataformas .container .box-3 {
    position: absolute;
    height: 100%;
    text-align: center;

    display: flex;
    justify-content: start;
    flex-direction: row;
    padding: 5rem;
    z-index: 0;
}
/* .plataformas .container .box-2.z-index {
    z-index: 100000000;
} */


/* --primeira caixa-- */

.plataformas .container .box {
    left: 0%;
    width: 50%;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 15% 100%, 0 100% );
    align-items: center;
    
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url(../img/dinheiro5por4.jpeg) no-repeat;
    background-size: cover;
    transition: all .4s;
    filter: blur(10px);
}

.plataformas .container .box.active {
    
    box-shadow: inset 0 0 100px green;
    filter: blur(0);
}




/* --Final primeira caixa-- */

.plataformas .container .box-2 {
    left: 7.5%;
    width: 85%;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);

    background:  url(../img/agente-back_4.jpg) no-repeat;
    background-position: 50% 25%;
    background-size: cover;
    transition: all .4s;
}

.plataformas .container .box-2.active {
    box-shadow: inset 0 0 100px red;
    filter:saturate(1.5);
}

.plataformas .container .box-3 {
    width: 50%;
    left: 50%;
    justify-content: flex-end;
    align-items: center;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 100%);

    background:
         linear-gradient(rgba(0, 0, 203, 0.445),
        rgba(0, 0, 216, 0.434)),
        url(../img/kagura.jpg) no-repeat;
    background-position: 25% 0%;
    /* background-position: 45% 0%; */
    background-size: cover;
    transition: all .4s;
    

    /* box-shadow: inset 0 0 100px blue; */
}

.plataformas .container .box-3.active {
    /* background:
    linear-gradient(rgba(0, 0, 203, 0.35),
        rgba(0, 0, 216, 0.35)),
        url(../img/kagura.jpg) no-repeat;
    background-position: 25% 0%;
    background-size: cover; */

    box-shadow: inset 0 0 30px darkblue;

    /* filter: grayscale(1); */
}


.plataformas .container .box .content h1,
.plataformas .container .box-2 .content h1,
.plataformas .container .box-3 .content h1 {
    font-size: 4.5em;
    text-align: center;
    line-height: .8em;
    z-index: 100;
}

.plataformas .container .box .content a,
.plataformas .container .box-2 .content a,
.plataformas .container .box-3 .content a {
    color: red;
    font-size: 4em;
    margin: 0.5rem;
    text-align: center;

}

.plataformas .container .box .content h1 span,
.plataformas .container .box-2 .content h1 span,
.plataformas .container .box-3 .content h1 span {
    font-size: 0.7em;
}








