
.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 5rem;

    position: relative;
    box-sizing: border-box;
}

.bg-animado .bolhas {
    position: absolute;
    bottom: 0;
    display: flex;
}



@keyframes animar {
    0% {
        transform: translateY(0) scale(0);
    }

    93% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) scale(1);
        background-color: rgb(205, 202, 255);
        opacity: 0;
    }
}

@keyframes animar-2 {
    0% {
        transform: translateY(0) scale(0);
    }

    93% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) scale(1);
        background-color: rgb(255, 217, 217);
        opacity: 0;
    }
}


.banner .content {
    padding: 6rem 6rem 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.banner .content .recepcao {
    padding: .3em;
    background: var(--gradiente-secundario);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;

    display: flex;
    align-items: center;
}

.banner .content .recepcao::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: rgba(240, 248, 255, 0.02);
    border-radius: 15px;
}

.banner .content h2 {
    font-size: 3em;
    font-weight: 900;
    margin: .5em 0;
    line-height: 1.2em;
}

.banner .content b {
    background: var(--gradiente-terciario);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

.mini-frase {
    font-size: .75em;
    color: #ddd;
    opacity: 0.3;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.button {
    font-size: 1em;
    border: 2px #222 solid;
    padding: .7em 2em;
    border-radius: 14px;
    margin: 1.5em 0;
    letter-spacing: .1em;

    text-decoration: none;
    color: #333;

    
}

.btn-principal {
    border: none;
    background: var(--gradiente);
    box-shadow: 0px 0 60px rgb(6, 6, 64);
    color: white;
    font-weight: 700;
}



.lista-dados {
    display: flex;
    padding: 4rem 0;
    border-top: 1px solid #333;
}

.lista-dados .item-lista {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    padding: 0 1em; 
}

.lista-dados .item-lista:nth-of-type(even) {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.lista-dados .item-lista h3 {
    font-weight: 800;
    font-size: 1.1em;
    color: #fbf2f2;
}

.lista-dados .item-lista p {
    font-weight: 800;
    font-size: .25em;
    color: #555;
}



.banner .content-game{
    position: relative;
}

.banner .content-game img {
    height: 75vh;
}
.banner .content-game .description {
    padding: 0 1em;
    display: flex;
    align-items: center;
    background: rgb(38, 38, 185);
    border-bottom-left-radius: 15px;
}

.banner .content-game .description img {
    width: 2.5em;
    height: 2.5em;
}


.banner .content-game .description p {
    color: rgb(255, 226, 226);
    padding: 1em;
    font-weight: 700;
    letter-spacing: .15rem;
    text-transform: uppercase;
}










/* container plataformas */

.container {
    background-color: black;
    padding: 1rem 3rem;
}

.emblemas{
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, .92), rgba(0, 0, 0, .92)), url(../img/Kagura\ Mobile\ Legends.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-2 {
    height:100vh;
}

.titulo-secundario {
    font-size: 1.5em;
    margin: .5rem 0;
    font-weight: 700;
}

.titulo-secundario b {
    background: var(--gradiente-terciario);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    font-size: 1.1em;
}

.container .lista-classes {
    margin: 3.5rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.container .lista-classes li {
    padding: 0 2rem 1rem 2rem;
    background: linear-gradient(to right top,#11111190,rgba(0, 0, 5, 0.9));
    border-radius: 15px;
    box-shadow: 0 0 20px darkblue,
    inset 0 0 10px blue;
}

.container .lista-classes li img {
    height: 2.5rem;
    transform: translateY(-50%);
}

.container .lista-classes li p {
    letter-spacing: 2px;
    font-weight: bold;
    color: #ddd;
}




.container-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    align-items: center;
    background: linear-gradient(black 97%, rgb(10, 0, 10)); 
    gap: 1.1rem 0;
}

.container-video .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
}

.container-video .row .categoria {
    padding: .65em 1.4em;
    /* background-color: rgba(10, 10, 90, 0.4); */
    border-radius: 40px;
    color: blue;
    letter-spacing: 1px;
}

.container-video .row h2{
    font-weight: 700;
    border-radius: 40px;
    color: #fff;
    letter-spacing: 1px;
}

.container-video .row .stars {
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.container-video .row .star {
    color: gold;
    margin-right: 1em;
}

.container-video p {
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 500;
}

.video {
    width: 100%;
    min-height: 20vh;
    border-radius: 12px;
    /* margin-top: 1.2rem; */
}







@media screen and (max-width: 991px) {

    .banner{
        width: 100vw;
        height: auto;
        flex-direction: column-reverse;
        padding: 1.5rem 1rem 1rem 1rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .banner .content{
        padding: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .lista-dados {
        padding: 3rem 0;
    }

    .banner .content-game{
        max-width: 100vw;
    }

    .banner .content-game .description{
        justify-content: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .banner .content-game img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 90vw;
        height: auto;
    }

    .banner::before{
        display: none;
        background-size: cover;
        background-position: center top;
    }






    .container {
        padding: 1rem;
    }

    .emblemas {
        background-position: 20%;
    }

    .container .mini-frase{
       font-size: .7rem;
    }

    .titulo-secundario{
        font-size: 1.4rem;
        display: none;
    }

    .container .lista-classes {
        margin: .3rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: .5rem;
    }

    .container .lista-classes li {
        padding: .5rem;
        border-radius: 50%;
    }

    .container .lista-classes li img {
        height: 2rem;
        transform: translateY(0);
        
    }

    .container .lista-classes li p {
        letter-spacing: 1px;
        font-size: .5;
        display: none;
    }



    

    



    
    
}
