.container.extensoes {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    padding-top: 1rem;
    padding-bottom: 3rem;
    background: 
        linear-gradient(transparent 60%, black),
        linear-gradient(rgba(70, 0, 70, 0.2), rgba(70, 0, 70, 0.2));
}


.extensoes .box-extensoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    position: relative;
}

.extensoes .box-extensoes .extensao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50%;
    overflow: hidden;
    position: relative;
}

.btn-extensao {  
    background-color: rgb(0, 50, 255);
    text-align: left;
    padding: .5rem 1rem;
    width: 100%;
    border-radius: 10px;
    
    z-index: 10;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-extensao.active {  
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.icon-plus-minus {
    position: relative;
}

.fa-minus:first-child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(90deg) translate3d(-60%, 40%, 0);
    transform-origin: 50%;
    -webkit-transform-origin: 50%;
    -o-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transition: 1.5s;
} 

.btn-extensao.active .fa-minus:first-child{
    transform-origin: 50%;
    -webkit-transform-origin: 50%;
    -o-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform: rotate(0deg) translate3d(-50%, -50%, 0);
} 

@keyframes down {
    0%, 100%{transform: translateY(-60%)}
    50%{transform: translateY(-35%)}
}

@keyframes up {
    0%, 100%{transform: translateY(-60%) rotate(180deg)}
    50%{transform: translateY(-35%) rotate(180deg)}
}

.btn-extensao h2 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    pointer-events: none;
}

.overflow {
    overflow: hidden;
}

.box-extensoes {
    width: 100%;
}

.box-extensoes .extensao{
    width: 100%;
}

.box-extensoes .extensao .content {
    display: none;
    padding: 1rem;
    text-align: center;
    background-color: rgb(0, 50, 255);
    border-top: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-extensoes .extensao .content.active{
    animation: chegar .8s linear;
    display: block;
    overflow: hidden;
}

.titulo-secundario_extensao {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: var(--azul-principal);
    margin-bottom: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@keyframes chegar {
    0%{transform: translateY(-101%)}
}

.extensoes .box-extensoes .extensao .content p {
    display: block;
    text-align: left;
    margin: .5em 0;
}

.extensoes .box-extensoes .extensao img{
    max-width: 100%;
}


@media screen and (max-width: 991px) {
    
    .extensoes{
        padding: 4rem 1rem;
    }

}