@import url(reset.css);
@import url(cabecalho.css);
@import url(banner.css);
@import url(regra.css);
@import url(extensao.css);
@import url(slide.css);
@import url(modal.css);
@import url(about.css);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


:root {
    --gradiente: linear-gradient(to right, rgb(0, 0, 82), rgb(0, 0, 160));
    --gradiente-secundario: linear-gradient(to right, rgb(198, 0, 198), #cda137);
    --gradiente-terciario: linear-gradient(to right top,rgb(0, 0, 160) 5%, rgb(198, 0, 198));
    --efeito: radial-gradient(ellipse farthest-side, rgba(0, 111, 255, 0.15), transparent);
    --azul-principal: rgb(0, 50, 255);
}

* {
    box-sizing: border-box;
}

html {
    color: #fff;
    font-size: 100%;
}

body{
    overflow-x: hidden;
    font-family: 'Varela', sans-serif;
    /* background-color: #007bff; */
    background: url(../img/bg/WhatsApp\ Image\ 2023-06-25\ at\ 4.57.44\ PM.jpeg);
    background-attachment: fixed;
}
  

.bg-animado {
    background: linear-gradient(#112, #000);
    position: relative;
    overflow-x: hidden;
}

.bg-animado .bolhas span {
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 6px;
    
    animation: animar calc(120s/var(--i)) linear infinite;
}

.bg-animado .bolhas span:nth-of-type(even) {
    animation: animar-2 calc(120s/var(--i)) linear infinite;
}

.bg-animado::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url(../img/Gusion\ _\ Night\ Owl.jpg);
    background-size: cover;
    opacity: .1;
}

.titulo-principal {
    font-size: 2.4em;
    font-weight: 700;
    display: block;
    color: gold;
    margin-bottom: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.titulo-secundari {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: var(--azul-principal);
    margin-bottom: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
  
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 32
}

.material-symbols-outlined {
    vertical-align: center;
    margin: 0 .4em 0 .1em;
}


@keyframes translate {
    0% {
        opacity: 0;
        transform: translate3d(-2rem, 0, 0);
    }
}

@keyframes brilho {
    0%{
        left: 0;
        opacity: 0;
    }
    10%{opacity: 1}
    100%{left:100%}
}


@keyframes progress-bar {
    0% {width: 0%}
}


@keyframes sombreamento {
    0%, 10% {opacity: 0} 
    100% {opacity: 1}
}



@media screen and (max-width: 991px) {
    body {
        font-size: 70%;
        box-sizing: border-box;
        overflow-x: hidden;
        /* background: linear-gradient(#100013, black); */
        background-size: cover;
        position: relative;
    }

    .bg-animado .bolhas span{
        margin: 0 4.5px;
    }
}