@import url(./css/reset.css);
@import url(./css/header.css);
@import url(./css/banner.css);
@import url(./css/about.css);
@import url(./css/plataforma.css);
@import url(./css/review.css);
@import url(./css/rodape.css);

/* black ops */
/* aldrich */
/* proza libre */
/* hanuman */
/* alexandria */
/* jockey one */
/* oxygen mono */

:root {
    --fonte-principal: 'Black Ops One', cursive;
    --fonte-secundaria: 'Poppins', sans-serif;
    --cor-de-fundo: #01040c;
    --cor-de-fundo-secundaria: #0c1538;
    --preto: #13131a;
    --bg: #010103;
    --border: .2rem solid #777;
    --vermelho: rgb(189, 0, 0);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* obs: tela fixed no banner com padding no html que vc botou */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    padding-top: 9rem;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--bg);
    color: #fff;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    font-size: 4em;
}

.heading span {
    color: rgb(106, 62, 62);
    text-transform: uppercase;
}

section {
    padding: 2rem 7%;
}


.btn {
    font-size: 2.3rem;
    padding: .5rem 2rem;
    background-color: red;
    color: var(--bg);

    border-radius: .8rem;
    box-shadow: 0 0 5px red;
    transition: all .2s;
}

.btn:hover {
    letter-spacing: .5px;
    box-shadow: 0 0 5px red,
                0 0 20px red;
}


.titulo__secundario {
    font-size: 1em;
    color: white;
    margin: 0.3em 0;
    letter-spacing: 0.1em;
    color: rgb(189, 0, 0);
}


@keyframes animar {
    100% {
        background-position: 0% 50%;
    }
}

@keyframes nevoa {
    100% {
        background-position: 100% 50%;  
    }
}




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
